
body::-webkit-scrollbar-thumb {
  background-color: silver;
  outline: 0px solid grey;
}

#textarea
{
  height: 200px;
  width: 145%;
  max-height: 200px;
  max-width: 150%;
  padding: 10px 10px;


}
.login-input-place
{
  padding: 0 10px;
  margin-left: 15px;
  margin-top: 40px;
  width: 145%;
  height: 40px;
  border-radius: 4px;
  border: 2px solid;
  border-color: silver;
}
.input-place:focus
{
  border-radius: 1px solid;
  border-color: #548EAA;
}

#login-checkbox
{
  margin-top: 20px;
}

#end
{
  position: absolute;
  top: 940px;
  height: 200px;
  background: #efefef;
}
#help-button
{
  left: 522px;
  top: 860px;
  width: 479px;
}
#help-p
{
  position: absolute;
  top: 802px;
  left: 530px;
}
