@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
*
{
  margin: 0;
  padding: 0;
}

body
{
  background: #efefef;
}

.login-header
{
  background: #ffff;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid;
  border-color: silver;
  display: flex;
  align-items: center;

}

#logo
{
  margin-left: 300px;
  font-size: 20px;
  color: black;
}

.registration-container
{
  margin-top: 370px;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}
.registration
{
  border-radius: 7px;
  width: 35%;
  height: 900px;
  background: #ffff;
  margin-bottom: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container
{
  width: 95%;
  height: 760px;
  background: white;
  display: flex;
  justify-content: center;

}
.input
{
  margin-right: 192px;
  margin-top: 40px;
}

.reg
{
  position: absolute;
  font-size: 28px;
  top: 220px;
}
.input-place
{
  padding: 0px 10px;
  margin-top: 40px;
  width: 165%;
  height: 40px;
  border-radius: 4px;
  border: 2px solid;
  border-color: silver;
}
.input-place:focus
{
  border-radius: 1px solid;
  border-color: #548EAA;
}

#file-input {
  border: 0;
  color: #548EAA;
  }

#checkbox
{
  position: absolute;
  top: 774px;
}

.input p{
  margin-left: 20px;
}

.end
{
  position: absolute;
  background: black;
  width: 80%;
  height: 180px;
  top: 900px;
  background: #efefef;
}

.reg-button
{

  position: absolute;
  font-size: 15px;
  top: 810px;
  padding: 10px 175px;
  background: #548EAA;
  color: #ffff;
  border: 0;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  cursor: pointer;
}
.reg-button:hover
{
  background: #2b799e;
}
