@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
*
{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}


body::-webkit-scrollbar {
  width: 1em;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #303B44;
  outline: 0px solid grey;
}

* {
    transition: opacity .2s ease-in-out,color .2s ease-in-out,background-color .2s ease-in-out,-webkit-text-decoration .2s ease-in-out;
    transition: opacity .2s ease-in-out,color .2s ease-in-out,text-decoration .2s ease-in-out,background-color .2s ease-in-out;
    transition: opacity .2s ease-in-out,color .2s ease-in-out,text-decoration .2s ease-in-out,background-color .2s ease-in-out,-webkit-text-decoration .2s ease-in-out;
}

a
{
  text-decoration: none;
  color: #548EAA;
}
body
{
  background: #efefef;
}


.header
{
  background: #303B44;
  width: 100%;
  height: 47px;
  display: flex;
  align-items: center;
}

.header p
{
  position: absolute;
  font-family: 'Tilt Warp', cursive;
  color: #ffff;
  margin: 10px 200px;
  font-size: 20px;
  cursor: pointer;

}

.main
{
  margin: 10px 201px;

}

.article
{
  background: #ffff;
  height: 760px;
  width: 760px;
  padding: 20px;
  margin-top: 15px;

}

.author-container
{
  text-align: center;
  height: 60px
  width: 100%;
  padding-bottom: 10px;
}
.author-logo
{
  float: left;
  height: 28px;
  width: 28px;
  border-radius: 6px;

}
.author-name
{
  float: left;
  margin-top: 2px;
  margin-left: 8px;
  font-size: 15px;
}

.time
{
  float: left;
  margin-top: 2px;
  margin-left: 8px;
  font-size: 15px;
  color: #3f3f3f;
}

.article-name-container
{
  margin-top: 25px;
  height: 45px;
  width: 100%;
}
.article-name
{
  font-size: 22px;
  cursor: pointer;
}
.article-name:hover
{
  color: #548EAA;
}

.statistics
{
  height: 30px;
  width: 100%;
}

.views
{
  padding-right: 4px;
  margin-top: 1px;
  height: 18px;
  width: 18px;
  float: left;
}

.time-views
{
  padding-right: 8px;
  float: left;
}

.time-for-read
{
  height: 18px;
  width: 18px;
  float: left;
  padding-right: 4px;
}

.tags-container
{
  height: 30px;
  width: 100%;
}

.tags
{
  list-style-type: none;
}
.tag a
{
  text-decoration: none;
  color: grey;
  float: left;
  padding-right: 6px;
}

.tag a:hover
{
  color: #548EAA;

}

.main-photo
{
  width: 100%;
  margin-bottom: 40px;

}

.description
{
  font-size: 18px;
  padding-bottom: 20px;
}

.more
{
  border: 1px solid;
  border-color: #548EAA;
  color: #548EAA;
  padding: 8px;
  background: #ffff;
  border-radius: 3px;
  font-size: 15px;
  cursor: pointer;}
.more:hover
{
  background: #548EAA;
  color: #ffff;
}

.navigation
{
  width: 100%;
  height: 50px;
  background: #ffff;
  display: flex;
  align-items: center;
}
.navigation-container
{
  margin-left: 189px;
}
.navigation-items
{
  display: inline-block;
  padding: 0px 12px;
  color: grey;
}
.navigation-items:hover
{
  color: #548EAA;
}
#first-item-navigation
{
  color: #333333
}
#first-item-navigation:hover
{
  color: #548EAA
}

.header-button
{
  margin-left: 340px;
  color: #ffff;
  padding: 3px 7px;
  border: 1px solid;
  font-size: 14px;
  border-radius: 2px;
  text-transform: uppercase;
  border-color: grey;
}

.header-button:hover
{
  border-color: #ffff;
}

.all-streams
{
  width: 800px;
  height: 165px;
  background: white;
  margin-left: 201px;
  margin-top: 15px;
  position: relative;
}
.all-streams-under
{
  position: absolute;
  width: 800px;
  bottom: 0px;
  background: #ffff;
  border-top: 1.4px solid #efefef;
  height: 60px;
  z-index: 0;

}
.streams-top
{
  width: 760px;
  height: 40px;
  padding-top: 15px;
  margin-left: 20px;
}
h3
{
  font-size: 21px;
}

.streams-under
{
  width: 100%;
  height: 50px;
  background: #ffff;

}
.strems-li
{
  display: flex;
  align-items: center;
  display: inline-block;
  margin: 10px 15px;
  font-size: 19px;
  padding-bottom: 5px;
  color: grey;
}
#first-button-strems
{
  margin-left: 20px;
  color: #548EAA;

}

.strems-buttons
{
  border: 0;
  background: 0;
}
.strems-buttons:active
{
  border-bottom: 2px solid;
  border-color: #548EAA;
}
#login-svg
{
  left: 1300px;
  position: absolute;
  height: 24px;
  width: 24px;
}
#loop
{
  position: absolute;
  margin-top: 3px;
  height: 20px;
  width: 20px;
  margin-left: 390px;
}

.article-navigation
{
  margin-top: 15px;
  position: fixed;
  width: 200px;
  right: 10%;
  background: #ffff;
}
.article-navigation ul
{
    margin: 20px 30px;
}
.navigation-li
{

  /* list-style-type: none; */
}
