*
{
  padding: 0;
  margin: 0;
}
.wrapper
{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1em;
}
.box1
{
  grid-column: 1/3;
  grid-row: 1/3;
}
.wrapper > div
{
  padding: 1em;
  background: #eaeaea;
  text-align: center;
  border-radius: 5px;
}
.box1 > img
{
  margin-top: 4%;
  width: 90%;
  height: 80%;

}
.wrapper > div.light
{
  padding: 1em;
  background: pink;
}
