@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Source+Sans+Pro&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
  }
body
  {
    padding: 0;
    margin: 0;

  }
img
{
  width: 80%;
  height: 15%;
  margin: 40px 150px;
}
a
{
  color: blue;
}
button,h2,p
{
  margin-left: 20px;
}
table
{
  margin-left: 600px;
}
h1
{
  margin-left: 310px;
}

.center
{
  margin-left: 680px;
}
.container
{
  margin-left: 555px;
}
.link
{
  color: white;
  transition: all .6s easy;
  padding: 10px 15px;
  margin: 10px;
  border: 3px solid;
  border-color: white;
  background: black;
  border-radius: 8px;

}
